.apply-cv-container {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/apply_cv_background.png");
}

.apply-cv-main{
    width: 50%;
    margin: auto;
}
