.bubble {
  margin-top: 14.85px;
  border: 2px solid red;
  /* Change container border */
  position: relative;
  box-sizing: border-box;
  border-radius: 16px;
}

.bubble::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: inherit;
  /* Inherit container background */
  border-left: inherit;
  /* Inherit container border-left */
  border-top: inherit;
  /* Inherit container border-top */
  position: absolute;
  top: 50%;
  right: -1px;
  transform: translate(50%, calc((-20px / 2) - 1px)) rotateZ(136deg);
  /* calc((-<pseudo-element width> / 2) - <border-width>)) */
  box-sizing: inherit;
}

.bubble > * {
  position: relative;
}

.scrollbar {
  /* background-color: #F5F5F5; */
  /* float: left; */
  height: 650px;
  /* padding-top: 10px; */
  /* width: 65px; */
  max-height: 73vh;
  overflow-y: scroll;
  direction: rtl;
  margin-bottom: 25px;
  overflow: auto;
}

.outer-container {
  direction: ltr;
  margin-left: 10px;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}
.skill_name {
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset,
    0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset,
    0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset,
    0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset,
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
ul {
    list-style: inside;
}



.right-scrollbar {
  /* background-color: #F5F5F5; */
  /* float: left; */
  height: 650px;
  /* padding-top: 10px; */
  /* width: 65px; */
  max-height: 73vh;
  overflow-y: scroll;
  direction: ltr;
  margin-bottom: 25px;
  overflow: auto;
}

.outer-container {
  direction: ltr;
  margin-left: 10px;
}

.right-scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.right-scrollbar::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.right-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}