.description-list {
    list-style-type: none;
    padding-left: 1em;
}

.description-list-item::before {
    content: '•'; /* Replace with desired bullet point character */
    color: red; /* Replace with desired color */
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
