.ant-form-item-explain {
  text-align: left;
}

.cv-option{
    width: 100%;
}

.ant-radio-checked .ant-radio-inner{
    background-color: red !important;
    border-color: red !important ;
    background-color: red !important;
  }
  
  .ant-radio-checked .ant-radio-inner:after{
    border-color: red ;
  }
  
  .ant-radio:hover .ant-radio-inner {
    border-color: red ;
  }
  
  .ant-upload-list-item-actions{
    button{
      display: none
    }
  }

  /* .cv-option-selected{
    background-color: red;
  } */